/* 
    Created on : Jul 29, 2016, 10:15:33 PM
    Author     : Julia Zelenska <julia@xdev.me>
*/
.main-photo {
  background: url("../images/tlo.jpeg") center center no-repeat;
  height: 900px;
  width: auto;
  margin: 0;
  padding: 0;
}
.caption {
  margin-top: 60px;
  height: 300px;
  background-color: #f2f2f2;
  opacity: 0.7;
  position: relative;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.osin {
  text-align: center;
}
.photo-profile .img-vk {
  margin-top: 25px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  width: 330px;
  height: 360px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
h1 {
  margin-top: 110px;
  color: black;
  font-family: Calibri;
}
.info {
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
ul {
  list-style-type: none;
  padding-left: 0 !important;
}
.btn {
  background-color: #337ab7;
  opacity: 0.75;
  color: #D3D3D3;
}
.fa,
.conntent-contact {
  color: white;
}
.fa a,
.conntent-contact a {
  color: white !important;
}
.conntent-experience {
  color: white;
  text-decoration: none;
}
.conntent-experience a {
  color: white !important;
}
.mail {
  text-align: right;
  color: #F0FFF0;
}
.list {
  text-decoration: none;
  color: white;
  font-family: Verdana;
}
.fa {
  margin: 10px;
}
p {
  font-weight: bold;
}
.conntent-info {
  color: #337ab7 !important;
}
div[class^='conntent'] {
  color: #D3D3D3;
  margin: 30px 0px 0px 0px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
