/* 
    Created on : Jul 29, 2016, 10:15:33 PM
    Author     : Julia Zelenska <julia@xdev.me>
*/
* {
  color: red!important;
}
body {
  background-color: #999999;
}
.osin {
  text-align: center;
}
img {
  border-style: solid;
  border-color: white;
  border-width: 4px;
  weidth: 230px;
  height: 350px;
}
h1 {
  color: white;
  font-family: Verdana;
}
.info {
  text-align: center;
}
.btn {
  background-color: #45484d;
  color: white;
}
.mail {
  text-align: right;
  color: white;
}
.list {
  text-decoration: none;
  color: white;
  font-family: Verdana;
}
